@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #ff6347;
    --secondary-color: #ffffff;
    --off-white :#F3F4F6;
    --dark-gray:#f2f2f2;
}

hr{
    margin: 2rem 0rem;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px auto;
    max-width: 86%;
    padding: 0;

}

.container{
   padding-left: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}


.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
   
}

.link:hover{
    background-color: #2f2e41;
    /* color: #2f2e41; */
    color: white;
    border-radius: 20px;
}


.primary-link{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 0.5rem;
}

.secondary-link{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
}


.list-non-bullet{
    list-style: none;
}

.list-inline{
    display: inline;
    padding: 0rem 0.5rem;
    
}

.navigation {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
   border-bottom-right-radius: 1rem;       
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: large;
    color: var(--secondary-color);
}

.navigation .link-active{
    font-weight: bold;
}

.navigation .link{
    color:var(--secondary-color);
}
 
.hero{
    padding: 2rem;
    text-align: center;   
}

.hero .hero-img {
    max-width: 50%;
    display: block;
    margin: auto;
    text-align: center;
  
}

.hero .hero-heading {
    color: var(--primary-color);
}

.heading-inverted{
    color: #2f2e41;
}

.section{  
    padding: 2rem;
    border: 2px solid white;
    border-radius: 20px;
    padding: 2rem;
    margin: 13px auto;
    text-align: center;
}

.section h1{
    text-align: center;   
}

.ow{
    background-color: var(--dark-gray);
    margin-bottom: 24px;
}

footer{
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    color: var(--secondary-color);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}


footer .link {
    color: var(--secondary-color);
}

footer ul{
    padding-inline-start: 0px;
}

/* projects */

.margin-md{
    /* margin: 10px 84px; */
    border: 2px solid white;
    padding: 22px 12px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 15px;
}


li{
    list-style-type: none;
}

.proj-margin{  
    margin: 26px;
}

.proj-link{
   margin:  31px 10px;
}

ol{
    padding-inline-start: 0px;
}

@media screen and (max-width:400px ){
    .proj-link {
        display: block;
        width: 50%;
        margin: auto;
        margin-bottom: 20px;
    }  
}

@media screen and (max-width:270px ){
    h1{
        font-size: medium;
    }

    .link{
        padding: 0;
    }
}

